@import '../../styles/variables/colors/colors';
@import '../../styles/variables/mixins/font-style';
@import '../../styles/variables/fonts/font';

.tooltip{
	position: absolute;
	text-align: center;
	padding: .5rem;
	background: #FFFFFF;
	color: #313639;
	border: 1px solid #313639;
	border-radius: 8px;
	pointer-events: none;
	font-size: 1.3rem;
	margin-top: 320px;
	top: 0;
}

#bubblechart{

	// background: purple;

	.big{

		circle {
			fill: $orange-regular;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 34px;
		}
	}

	.medium{

		circle {
			fill: $orange-medium;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
		}
	}
	
	.regular{

		circle {
			fill: $orange-darker;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 20px;
		}
	}

	.light{

		circle {
			fill: $orange-light;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 18px;
		}
	}

	.small{

		circle {
			fill: $orange-light;
		}

		text{
			font-size: 10px;
		}
	}
} 