@import '../../styles/variables/colors/colors';
@import '../../styles/variables/mixins/font-style';
@import '../../styles/variables/fonts/font';

#bubblechart{

	// background: purple;

	g:first-of-type{
		circle{
			fill: $background;
		}

		text{
			visibility: hidden;
		}
	}

	.big{

		circle {
			fill: $orange-regular;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 18px;
		}
	}

	.medium{

		circle {
			fill: $orange-medium;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 18px;
		}
	}
	
	.regular{

		circle {
			fill: $orange-darker;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 14px;
		}
	}

	.light{

		circle {
			fill: $orange-light;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 12px;
		}
	}

	.small{

		circle {
			fill: $orange-light;
		}

		text{
			text-anchor: middle;
			alignment-baseline: middle;
			font-size: 8px;
		}
	}
} 
