@mixin title_1 {
	font-family: "Sinistre";
	font-size: 160px;
}

@mixin title_2 {
	font-family: "Sinistre";
	font-size: 80px;
}

@mixin subtitle_1 {
	font-family: "Sinistre";
	font-size: 48px;
}

@mixin subtitle_2 {
	font-family: "Sinistre";
	font-size: 40px;
}

@mixin button {
	font-family: "DM Sans Medium";
	font-size: 20px;
}

@mixin body {
	font-family: "DM Sans";
	font-size: 16px;
}

@mixin small {
	font-family: "Larish Alte Semi-Bold";
	font-size: 16px;
}