@import '../../styles/variables/colors/colors';
@import '../../styles/variables/mixins/font-style';
@import '../../styles/variables/fonts/font';

.block-hidden{
	display: none;
}

.block-intro-movie{
	background-position: center;
	width: 100vw;
	height: 100vh;
	position: absolute;

	.block-intro1{
		background-image: url("../../assets/images/bg_1.png");
	}
	.block-intro2{
		background-image: url("../../assets/images/bg_2.png");
	}
	.block-intro3{
		background-image: url("../../assets/images/bg_3.png");
	}
	.block-intro4{
		background-image: url("../../assets/images/bg_4.png");
	}
	.block-intro5{
		background-image: url("../../assets/images/bg_5.png");
	}
	.block-intro6{
		background-image: url("../../assets/images/bg_6.png");
	}
	.block-intro7{
		background-image: url("../../assets/images/bg_7.png");
	}
	.block-intro8{
		background-image: url("../../assets/images/bg_8.png");
	}
	.block-intro9{
		background-image: url("../../assets/images/bg_9.png");
	}
	.block-intro10{
		background-image: url("../../assets/images/bg_10.png");
	}
	.block-intro11{
		background-image: url("../../assets/images/bg_11.png");
	}
	.block-intro12{
		background-image: url("../../assets/images/bg_12.png");
	}
	.block-intro13{
		background-image: url("../../assets/images/bg_13.png");
	}
	.block-intro14{
		background-image: url("../../assets/images/bg_14.png");
	}
	.block-intro15{
		background-image: url("../../assets/images/bg_15.png");
	}
	.block-intro16{
		background-image: url("../../assets/images/bg_16.png");
	}
}



.block-intro{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: absolute;
	// background-size: cover;

	.block-intro__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 30%;

		h1{
			font-family: "Sinistre";
			font-size: 64px;
			color: $orange-regular;
			text-transform: uppercase;
		}

		h2{
			@include subtitle_2;
			color: $neutral-white;
		}
	}

	.block-intro__button{
		margin-top: 64px;

		a{
			color: $orange-regular;
			@include button;
			border-bottom: 1px solid $orange-regular;
			// text-decoration: underline;
		}
	}
}

@media only screen and (max-width: 1024px){

    .block-hidden{
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		text-align: center;

		h2{
			@include subtitle_2;
			color: $neutral-white;
		}
	}

    .block-intro-movie{
		display: none;
	}

    .block-intro{
		display: none;
	}
}