@font-face{
	font-family: 'DM Sans';
	src: url('../../../../src/assets/fonts/DM_Sans/DMSans-Regular.woff') format('woff');
	src: url('../../../../src/assets/fonts/DM_Sans/DMSans-Regular.woff2') format('woff2');
}

@font-face{
	font-family: 'DM Sans Medium';
	src: url('../../../../src/assets/fonts/DM_Sans/DMSans-Medium.woff') format('woff');
	src: url('../../../../src/assets/fonts/DM_Sans/DMSans-Medium.woff2') format('woff2');
}

@font-face{
	font-family: 'Sinistre';
	src: url('../../../../src/assets/fonts/Sinistre/Sinistre-StCaroline.woff') format('woff');
	src: url('../../../../src/assets/fonts/Sinistre/Sinistre-StCaroline.woff2') format('woff2');
}

@font-face{
	font-family: 'Larish Alte Semi-Bold';
	src: url('../../../../src/assets/fonts/Larish_Alte/larish_alte_semibold.woff') format('woff');
	src: url('../../../../src/assets/fonts/Larish_Alte/larish_alte_semibold.woff2') format('woff2');
}
