@import '../../styles/variables/colors/colors';
@import '../../styles/variables/mixins/font-style';
@import '../../styles/variables/fonts/font';

.block-footer{
	display: flex;
	flex-direction: column;
	width: 200vw;
	height: 12vh;
	border-top: 1px solid $neutral-grey;
	padding-bottom: 24px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;

	.block-footer__square{
		display: flex;
		margin-bottom: 16px;
		justify-content: space-around;
		width: 100%;
		height: auto;

		.block-footer__square--item{
			width: 31px;
			height: 28px;
			background-color: $neutral-grey;
			border-radius: 3px;
			margin-top: 24px;
		}
	}

	.block-footer__details{
		display: flex;
		width: 200vw;

		.block-footer__details__content{
			display: flex;
			padding: 0px 138px;
			box-sizing: border-box;
			justify-content: space-between;
			width: 100vw;
	
			.block-footer__details__content--year{
				display: flex;
				margin-left: 650px;
	
				p{
					@include small;
					color: $orange-regular;
				}
	
				img{
					margin-left: 13px;
				}
			}

			.block-footer__details__content--next{
				display: flex;
				margin-left: 473px;
	
				p{
					@include small;
					color: $orange-regular;
				}
	
				img{
					margin-left: 13px;
				}
			}
		}
	}
}